<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular UI</title>
    <link rel="stylesheet" href="resources/main.css">
    <script src="assets/jquery-3.1.1.min.js"></script>
    <script src="assets/angular.min.js"></script>
    <script src="assets/angular-ui-router.min.js"></script>
    <script src="sources/app.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">
    <form>
        <input form-entry label-text="Your name:" type="text" ng-model="main.inputModel" />
        <select form-entry label-text="Great people:" ng-model="main.selectModel" ng-options="person.id as person.name for person in main.people | orderBy:'name'"></select>
        <p>Select value is now {{main.selectModel}}</p>
    </form>
</body>
</html>